*,
::before,
::after {
    box-sizing: border-box;
}

[hidden] {
    display: none;
}

body {
    color: setColor();
    font: 300 18px $opensans;
    margin: 0;
    padding: 0;
}

svg,
::before,
::after {
    display: inline-block;
    vertical-align: top;

    @include setMedia(md, from) {
        font-weight: 30;
    }
}
