<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Leonid Dzyhanskyi | Front-End Developer
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap&display=fallback" rel="stylesheet" defer)
        link(href="https://fonts.googleapis.com/css?family=Dosis:600,700&display=swap&display=fallback" rel="stylesheet" defer)
        link(rel="stylesheet", href="style.css")
        link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
    body

    include sprite
